
.movies {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.movie {
	margin-top: 15px;
	position: relative;
}

.fo {
	
	position: absolute;
	width: 92%;
	height: 77%;
	top: 78px;
	left: 8px;
	font-size: 8px;
	padding: 5px;
	padding-right: 5px;
	color: black;
	text-align: justify;
	background-color: #ffffff;

	&__title {
		font-weight: 700;
		margin-bottom: 8px;
	}
	&__release,
	&__rating {
		font-weight: 700;
	}
}

.movie__title  {
	position: absolute;
	bottom: 8px;
	left: 8px;
	display: block;
	background-color: rgba(210, 210, 210, 0.7);
	padding: 8px;
	width: 92%;
	font-weight: 700;

	&:hover .fo {
		display: block;
	}
}


img {
	display: block;
	border: 8px solid black;
	margin-top: -18px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.roof {
	background: url('../images/roll.png') no-repeat;
	background-size: contain;
	width: 190px;
	height: 89px;
}
